:root {
    --bg-jv-auth: #30607e;

    --shadow-color-jv-auth: #0000007a;
    
    --border-color-jv-auth: #40e9df;
    --text-color-jv-auth: #40e9df;

    --text-color-jv-auth-btn-submit: #30607e;
}